.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20vh;
    position: relative;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 img {
    width: 2ch;
}

#search {
    border-radius: 5px;
    font-size: large;
    font-family: 'Jersey 15';
    padding: 2px;
    width: 30vw;
}

.main img {
    border-radius: 10px;
    cursor: pointer;
}

#name {
    font-family: 'Jersey 15';
}

.error {
    background-color: red;
}

.sucess {
    background-color: greenyellow;
}

@keyframes Bhover {
    from {background-color: white;}
    to {background-color: lightgray;}
}

@keyframes Bnothover {
    from {background-color: lightgray;}
    to {background-color: white;}
}

#help {
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 5vh;
    width: 5vw;
    background-color: white;
    :hover {
        animation: Bhover .5s;
        animation-fill-mode: forwards;
    }
    :not(:hover) {
        animation: Bnothover .5s;
        animation-fill-mode: forwards;
    }
}

#help img {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}

.helpDiv {
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    width: 20cap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin-left: 5vw;
    border: 3px solid #ff0000;
}

.noDisplay {
    display: none;
}